<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="not-found content">
            <h2>404 Error</h2>
            <h2>The requested page cannot be found.</h2>
        </div>
    </body>
</html>