<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
    <%- include('./partials/nav.ejs') %>
        <div class="blogs content">
            <h2>About us</h2>
            <p>test 1</p>
            <p>test 2</p>
            <p>test 3</p>
            <p>test 4</p>
            <p>test 5</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>